%p#notice= notice

%p
  %b From:
  = @query.from
%p
  %b To:
  = @query.to
%p
  %b Origin lat:
  = @query.origin_lat
%p
  %b Origin lon:
  = @query.origin_lon
%p
  %b Dest lat:
  = @query.dest_lat
%p
  %b Dest lon:
  = @query.dest_lon

= link_to 'Edit', edit_query_path(@query)
\|
= link_to 'Back', queries_path
